@model PagedList.IPagedList<Tens.Models.addresse_type>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pg = Convert.ToInt32(ViewBag.number);
    //int prev = pg - 1;
    int num = 1;
    if (pg > 1)
    {
        num = ((pg * Model.PageSize) + 1) - Model.PageSize;
    }
}
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a href="@Url.Content("~/Address/Create")" data-toggle="tooltip" title="Add New" class="btn btn-default">
                        <i class="fa fa-plus"></i>Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Address</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm())
                            { 
                                <div class="form-group">
                                    <label class="control-label" for="search">
                                        Search</label>
                                    <input type="text" id="SearchString" name="SearchString" value="" placeholder="Address Name"
                                        id="search" class="form-control" />
                                </div>
                                <button type="submit" id="button-filter" class="btn btn-primary pull-right">
                                    <i class="fa fa-search"></i>Filter
                                </button>
                            }
                        </div>
                    </div>
                </div>
                @if (TempData.ContainsKey("message"))
                {
                    <div class="alert alert-@TempData["cls"]">
                        <i class="fa fa-exclamation-circle"></i><small>@TempData["Message"]</small>
                        <button type="button" class="close" data-dismiss="alert">
                            ×
                        </button>
                    </div>
                    TempData.Remove("message");
                    TempData.Remove("cls");
                }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@num
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.address_type_code)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.address_type_description)
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-success" href="@Url.Content("~/Address/Edit")?code=@item.address_type_code">
                                                <i class="fa fa-pencil"></i></a><a class="btn btn-sm btn-primary" href="@Url.Content("~/Address/View")?code=@item.address_type_code">
                                                    <i class="fa fa-search"></i></a><a class="btn btn-sm btn-danger" href="@Url.Content("~/Address/Delete")?code=@item.address_type_code" onclick="return confirm('Are you sure ??');">
                                                        <i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr> 
                                        num++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination">
            @if (Model != null)
            { 
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            }
        </div>
    </div>
</div>
