@model PagedList.IPagedList<Tens.Models.sale>
@using PagedList.Mvc;
@using Tens.Helpers;
@{
    ViewBag.Title = "Sales List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pg = Convert.ToInt32(ViewBag.number);
    //int prev = pg - 1;
    int num = 1;
    if (pg > 1)
    {
        num = ((pg * Model.PageSize) + 1) - Model.PageSize;
    }
}

<div class="container-fluid">
	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
		<div class="panel-body">
			<div class="row">
				<div class="pull-right">
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Shipped List</h3>
			</div>
			<div class="panel-body">
				<div class="well">
					 @using (Html.BeginForm("Sales", "Reports", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                     {
					    <div class="form-group">
						        <label class="col-sm-2 control-label">First Date</label>
						        <div class="col-sm-3">
							        <div class="input-group date">
		                        <input type="text" name="firstdate"  placeholder="First Date" data-date-format="YYYY-MM-DD" id="firstdate" class="form-control" />
		                        <span class="input-group-btn">
		                  	        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
		                        </span>
                    	    </div>
						        </div>
					    </div>
					    <div class="form-group">
						        <label class="col-sm-2 control-label">Last Date</label>
						        <div class="col-sm-3">
							        <div class="input-group date">
		                        <input type="text" name="lastdate"  placeholder="Last Date" data-date-format="YYYY-MM-DD" id="lastdate" class="form-control" />
		                        <span class="input-group-btn">
		                  	        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
		                        </span>
                    	    </div>
						        </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-2 control-label"></label>
						    <div class="col-sm-3">
							    <button type="submit" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> Filter</button>
                                <a id="btn-print" href="javascript:void(0)" class="btn btn-warning"><i class="fa fa-print"></i> Print</a>
						    </div>
					    </div>
                     }
				</div>
                @if (TempData.ContainsKey("message"))
                {
                    <div class="alert alert-@TempData["cls"]">
                        <i class="fa fa-exclamation-circle"></i><small>@TempData["Message"]</small>
                        <button type="button" class="close" data-dismiss="alert">
                            ×
                        </button>
                    </div>
                    TempData.Remove("message");
                    TempData.Remove("cls");
                }
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Sales Code</th>
								<th>Date Transaction</th>
                                <th>Discount</th>
								<th>Subtotal</th>
                                <th>Grand Total</th>
							</tr>
						</thead>
						<tbody>
                         @if (Model != null)
                         {
                             foreach (var item in Model)
                             { 
                                 <tr>
                                    <td>@num</td>
                                    <td>@Html.DisplayFor(modelItem => item.code_sales)</td>
                                    <td>@Html.DisplayFor(modelItem => item.date_transaction)</td>
                                    <td>@Html.DisplayFor(modelItem => item.disc)</td>
                                    <td>@Html.DisplayFor(modelItem => item.sub_total)</td>
                                    <td>@Html.DisplayFor(modelItem => item.grand_total)</td>
                                 </tr>
                                 num++;
                             }
                         }
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="pagination">
			@if (Model != null)
            { 
                @Html.PagedListPager(Model, page => Url.Action("Sales", new { page }))
            }
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datetimepicker({
            pickTime: false
        });
        $("#btn-print").click(function () {
            var date1 = $("#firstdate").val();
            var date2 = $("#lastdate").val();
            if (date1 == "" && date2 == "") {
                window.open('@Url.Content("~/Pdf/Sales")', '_blank');
            } else {
                var date = "?firstdate=" + date1 + "&lastdate=" + date2;
                window.open('@Url.Content("~/Pdf/Sales")' + date, '_blank');
            }
        });
    });
</script>