@model Tens.Models.person

@{
    ViewBag.Title = "Edit Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewData["user"] as List<Tens.Models.user>;
    var address = ViewData["address"] as List<Tens.Models.address>;
    string fullPath = null;
    string pathimage = Request.MapPath("~/Upload/" + Model.image);
    if (System.IO.File.Exists(pathimage))
    {
        fullPath = Url.Content("~/") + "Upload/"+Model.image;
    }
}

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
		<div class="panel-body">
			<div class="row">
				<div class="pull-right">
					<a href="@Url.Content("~/Persons")" data-toggle="tooltip" title="Back To Grid" class="btn btn-default"><i class="fa fa-refresh"></i>  Back</a>
				</div>
			</div>
		</div>
	</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				<h3 class="panel-title">Details Person</h3>
			</div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Persons", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                { 
                     <div class="form-group">
                        
						<label class="col-sm-2 control-label">Photo</label>
						<div class="col-sm-4">
							<img class="img-responsive" src="@fullPath" />
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Roles</label>
						<div class="col-sm-6">
							  <label class="control-label">
                                  <b>@user[0].role.role_name</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Fullname</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                 <b>@Html.DisplayFor(x=>x.person_name)</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Gender</label>
						<div class="col-sm-6">
                             <label class="control-label">
                                 @if (Model.gender == 1)
                                 {
                                    <b>Male</b>
                                 }
                                 else
                                 { 
                                    <b>Female</b>
                                 }
                              </label>
						</div>
					</div>
                     <div class="form-group ">
						<label class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                 <b>@Html.DisplayFor(x => x.email)</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Phone</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                <b>@Html.DisplayFor(x => x.phone)</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Cellphone</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                 <b>@Html.DisplayFor(x => x.cellphone)</b>
                              </label>
						</div>
					</div> 
                   
                    <div class="form-group">
						<label class="col-sm-2 control-label">Country</label>
						<div class="col-sm-6">
                            <label class="control-label">
                                 <b>@address[0].country.country_name</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Postal Code</label>
						<div class="col-sm-6">
							  <label class="control-label">
                                 <b>@address[0].postal_code</b>
                              </label>
						</div>
					</div>
                     <div class="form-group">
						<label class="col-sm-2 control-label">City</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                 <b>@address[0].city</b>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Address / Street</label>
						<div class="col-sm-6">
							 <label class="control-label">
                                 <p>
                                    <b>@address[0].description</b>
                                 </p>
                              </label>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-2 control-label">Other Address</label>
						<div class="col-sm-6">
							  <label class="control-label">
                                  <p>
                                    <b>@address[0].other_address_details</b>
                                 </p>
                              </label>
						</div>
					</div>
                   
                }
            </div>
        </div>
    </div>
</div>
