@model List<Tens.Models.brand>
@using Tens.Helpers;
@{
    Layout = null;
    int num = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report Of Brand</title>
</head>
<body>
    <table align="center">
		<tr>
			<td align="center" style="font-family:arial; font-size: 24px; font-weight:bold;">Report Of Brand</td>
		</tr>
	</table>
    <table border="0.1" align="left" cellpadding="2" style="font-family:arial; font-size: 10px; margin-top: 50px; border-collapse: collapse; table-layout:fixed; width:100%;">
       <thead>
          <tr>
             <th>No</th>
             <th>Brand Name</th>
             <th>Total Stock</th>
             <th>Total Shipped</th>
             <th>Total Sales</th>
          </tr>
       </thead>
       <tbody>
           @if (Model != null)
            {
            foreach (var item in Model)
            { 
                <tr>
                    <td>@num</td>
                    <td>@Html.DisplayFor(modelItem => item.brand_name)</td>
                    <td>@MyHelpers.GetReportBrand(item.id_brand, "stock")</td>
                    <td>@MyHelpers.GetReportBrand(item.id_brand, "shipped")</td>
                    <td>@MyHelpers.GetReportBrand(item.id_brand, "sales")</td>
                </tr>
               num++;
            }
        }
       </tbody>
    </table>
</body>
</html>
